// _sass/_dark-mode.scss

@mixin dark-appearance {
  background-color: #121212; // 设置背景颜色为深色
  color: #ffffff; // 设置文本颜色为浅色

  a {
    color: #bb86fc; // 设置链接颜色
  }

  img {
    filter: invert(1); // 反转图像颜色
  }

  // 针对拥有 "no-invert" 类的元素禁用反转
  .no-invert {
    filter: invert(0);
  }
}

body.dark-mode {
  @include dark-appearance;
}
