{
"lang": "{{ site.language }}",
"dir": "{{ site.baseurl }}",
"name": {{ site.title | smartify | jsonify }},
"short_name": {{ site.pwa.short_name | smartify | jsonify }},
"icons": [
{
"src": "{{ site.pwa.icon192 | prepend: site.baseurl }}",
"sizes": "192x192",
"type": "image/png"
},
{
"src": "{{ site.pwa.icon512 | prepend: site.baseurl }}",
"sizes": "512x512",
"type": "image/png"
},
{
"src": "{{ site.pwa.icon_maskable_192 | prepend: site.baseurl }}",
"sizes": "192x192",
"type": "image/png",
"purpose": "maskable"
},
{
"src": "{{ site.pwa.icon_maskable_512 | prepend: site.baseurl }}",
"sizes": "512x512",
"type": "image/png",
"purpose": "maskable"
}
],
"theme_color": "{{ site.pwa.color }}",
"background_color": "{{ site.pwa.color }}",
"start_url": "{{ "/" | prepend: site.baseurl }}",
"display": "standalone",
"orientation": "natural"
}